<!DOCTYPE html>
<html lang="en" class="no-js">
  <!-- Copyright 2019-2021 Vanessa Sochat-->
  {% include head.html %}  
  {% include google-analytics.html %}
  <body class="td-section">
    {% include header.html %}
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <i id="show-sidebar" style="cursor:pointer;" class="fas fa-bars"></i>
          <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none" id="sidebar">
          {% include sidebar.html %}
          </div>
          <div class="d-none d-xl-block col-xl-2 td-toc d-print-none">
              <div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
                  {% include editable.html %}
              </div>
              <nav id="TableOfContents"><ul>
              <li><ul id="TOC">
                <!-- Links will be appended here-->
              </ul></li>
              </ul></nav>
          </div>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main" id="main-content">
            <nav aria-label="breadcrumb" class="d-none d-md-block d-print-none">
	      <ol class="breadcrumb spb-1">
              {% assign crumbs = page.url | append: "/"  | replace: '//', '/' | split: '/' %}
              {% for crumb in crumbs offset: 1 %}{% if crumb != "index" %}{% if forloop.last %}
                <li class="breadcrumb-item active" aria-current="page">
	          <a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                </li>{% else %}
                {% if page.url != "/docs/" %}<li class="breadcrumb-item">
                  <a href="{{ site.url }}{{ site.baseurl }}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{% if crumb == "docs" %}Documentation{% else %}{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}{% endif %}</a>
                </li>{% endif %}{% endif %}
                {% endif %}{% endfor %}
	      </ol>
           </nav>
           <div class="td-content">
	      {{ content }}	
              
              <div class="section-index">
               <hr class="panel-line"><div class="card-columns">{% if section.links %}{% for child in section.links %}              
                 <div class="next-card card">
                    <h5>
                        <a href="{% if child.url %}{{ site.baseurl }}{{ child.url }}{% else %}{{ child.external_url }}{% endif %}">{{ child.title }}</a>
                    </h5>
                    <p>{{ child.description }}</p>
                 </div>{% endfor %}{% endif %}
              </div>

                 <h3>Read Next</h3>
                 {% assign page_url = page.url | replace: "index", "" | split: "/" | join: "/" %}

		  <!-- We compare lengths - the next level should be current +1.-->
		  {% assign current_level = page_url | split: "/" | size %}
		  {% assign next_level = current_level | plus: 1 %}

              <div class="section-index">
               <hr class="panel-line"><div class="card-columns">{% for doc in site.docs %}{% assign doc_url = doc.url | replace: "index", "" %}{% unless doc.url == page.url %}
                  {% assign comparison_count = doc_url | split: "/" | size %}
                  {% if next_level == comparison_count %}{% if doc_url contains page_url %}
                  <div class="card next-card">
                    <h5>
                        <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
                    </h5>
                    <p>{{ doc.description }}</p>
                 </div>
                  {% endif %}{% endif %}{% endunless %}{% endfor %}<br>
              </div>
              </div>
                 <div style="padding-top:30px">{% include feedback.html %}</div>
          </main>
        </div>
      </div>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
